*.atensors filter=lfs diff=lfs merge=lfs -text
.atensors filter=lfs diff=lfs merge=lfs -text
*.btensors filter=lfs diff=lfs merge=lfs -text
.btensors filter=lfs diff=lfs merge=lfs -text
*.ctensors filter=lfs diff=lfs merge=lfs -text
.ctensors filter=lfs diff=lfs merge=lfs -text